<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citen.mapper.VoucherMapper">

    <select id="queryVoucherOfShop" resultType="com.citen.entity.Resource" parameterType="java.lang.Long">
        SELECT
            v.`id`, v.`lab_id`, v.`name`, v.`description`, v.`usage_rules`, v.`reserve_value`,
            v.`confirm_value`, v.`resource_mode`, sv.`quota` , sv.begin_time , sv.end_time
        FROM tb_resource v
        LEFT JOIN  tb_resource_quota sv ON v.id = sv.resource_id
        WHERE v.lab_id = #{labId} AND v.status = 1
    </select>
</mapper>
